@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.Top {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 200px 50px;
    font-family: "Roboto";
    width:auto;
}

img {
    max-width: 100%; /* Ensures the image doesn't exceed the container width */
    height: auto;    /* Maintains aspect ratio */
    display: block;  /* Removes extra space below the image */
}


.Header{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.links h4{
    margin-right: 15px;

}

.top-content {
    display: flex;
    justify-content: space-between;
}

.content{
    width: 450px;
    margin-right: 20px;
}

.Top h2{
    font-family: "Roboto"; 
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900;

}

.Top p{
    margin-bottom: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.Top button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 150px;
    border: none;
    height: 36px;
    border-radius: 10%;
    font-weight: 700;
}
.middle1 {
    margin-top: 50px;
    text-align: center;
    color: #1f2937;
    font-weight: 900;
}

.testominals {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.testominals .test { 
    height: auto;
    color: #1f2937;
    width: 200px;
    text-align: center;

}
.testominals button{
    width: 150px;                /* Set width to 150px */
    height: 150px;               /* Set height to 150px */
    border: 3px solid #3882f6;          /* Blue border with 5px thickness */
    border-radius: 5px;        /* Makes the border rounded */
    background-color: transparent; 

}

.quotes {
    margin: 100px 0px 0px;
    padding: 50px 200px;
    background-color: #e5e7eb;
    text-align: center;
}

.quotes p{
    margin: 20px;
    font-family: serif;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

.quotes h3{
    text-align: right;
}

.c2acontainer {
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.c2acontainer button{
    height: 40px;
    width: 80px;
    color: #e5e7eb;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 2px;

}

.footer {
    padding: 50px;
    text-align: center;
    background-color: #1f2937;
    color: #e5e7eb;
}